<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<div th:replace="~{layout :: navigation}"></div>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>

		<div class="grid-container category-index">
		    <form method="get" class="filter" th:attr="action=@{/recipient/index}">
		        <input type="text" name="search" placeholder="Search..." th:attr="value=${search}">
		        <button class="blue-button" type="submit">Search</button>
		    </form>
		    <a class="blue-button create-button" th:href="@{/recipient/upsertForm}">Insert Recipient</a>
			<input type="hidden" th:attr="value=${message}" id="message-save">
			<table>
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Email</th>
						<th>Templates</th>
						<th>Action</th>
		            </tr>
		        </thead>
		        <tbody>
			        <tr th:each="recipient : ${grid}" th:object="${recipient}">
						<td th:text="*{name}"></td>
						<td th:text="*{email}"></td>
						<td th:text="*{templateNames}"></td>
						<td>
							<a th:href="@{/recipient/assign-template(name=*{name})}" class="blue-button update-button">Assign Template</a>
							<a th:href="@{/recipient/upsertForm(currentName=*{name})}" class="blue-button update-button">Edit</a>
							<a th:href="@{/recipient/delete(name=*{name})}" class="blue-button delete-button">Delete</a>
						</td>
					</tr>
		        </tbody>
				<tfoot>
		            <tr>
		                <td colspan="3">
		                    <div class="pagination">
		                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
		                        <div th:if="${totalPages != 0}">
									<a th:each="loop:${#numbers.sequence(1,totalPages)}" 
										th:href="@{/recipient/index(page=${loop},search=${search})}"
										th:text="${loop}"></a>
		                        </div>
		                    </div>
		                </td>
		            </tr>
		        </tfoot>
			</table>
		</div>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>