<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<div th:replace="~{layout :: navigation}"></div>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<form method="post" class="upsert-form" th:attr="action=@{/data/upsert}" th:object="${data}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<table>
				<tbody>
					<tr>
		                <td><label>Email</label></td>
		                <td>
		                	<input type="text" th:field="*{email}">
		                	<div class="field-validation-error" th:errors="*{email}"></div>
		                </td>
		            </tr>
				<tr>
					<td>Input By</td>
					<td>
							<input  type="text"  th:field="*{inputBy}"  readonly>
					</td>
				</tr>
					<tr>
						<td>Input By</td>
						<td>
							<input  type="text"  th:field="*{createdDate}"  readonly>
						</td>
					</tr>
				</tbody>
			</table>
		    <button class="blue-button" type="submit" th:text="${type} + ' Template'"></button>
		</form>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>