<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<div th:replace="~{layout :: navigation}"></div>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<form method="post" class="upsert-form" th:attr="action=@{/scheduler/upsert}" th:object="${scheduler}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" th:field="*{currentSchedulerName}"/>
			<div class="field-validation-error" th:errors="${scheduler}"></div>
			<table>
				<tbody>
					<tr>
		                <td><label>Scheduler Name*</label></td>
		                <td>
		                	<input type="text" th:field="*{schedulerName}">
		                	<div class="field-validation-error" th:errors="*{schedulerName}"></div>
		                </td>
		            </tr>
					<tr>
						<td><label>Period*</label></td>
						<td>
							<select th:field="*{period}">
								<option th:value=null>-</option>
								<option th:value="daily">Daily</option>
								<option th:value="weekly">Weekly</option>
								<option th:value="monthly"> Monthly</option>
							</select>
							<div class="field-validation-error" th:errors="*{period}"></div>
						</td>
					</tr>
					<tr>
						<td><label>Interval Week*</label></td>
						<td>
							<select th:field="*{intervalWeek}">
								<option th:value=null>-</option>
								<option th:value="SUNDAY">Sunday</option> <option th:value="MONDAY">Monday</option><option th:value="TUESDAY">Tuesday</option>
								<option th:value="WEDNESDAY">Wednesday</option><option th:value="THURSDAY">Thursday</option><option th:value="FRIDAY">Friday</option>
								<option th:value="SATURDAY">Saturday</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Interval Month*</label></td>
						<td>
							<select th:field="*{intervalMonth}">
								<option th:value=null>-</option>
								<option th:each="option : ${month}" th:value="${option.value}"
										th:text="${option.text}" th:selected="${option.value == role}"/>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Send Time*</label></td>
						<td>
							<input type="time" th:field="*{sendTime}">
							<div class="field-validation-error" th:errors="*{sendTime}"></div>
						</td>

					</tr>
							<input type="hidden" th:field="*{send}" >
					<tr>
						<td><label>Template Name*</label></td>
						<td>
							<select th:field="*{templateName}">
								<option th:value=null>-</option>
								<option th:each="option : ${templates}" th:value="${option.value}"
										th:text="${option.text}" th:selected="${option.value == templateDropdown}"/>
							</select>
							<div class="field-validation-error" th:errors="*{templateName}"></div>


						</td>

					</tr>

				</tbody>
			</table>
		    <button class="blue-button" type="submit" th:text="${type} + ' Scheduler'"></button>
		</form>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>