<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<form method="post" class="upsert-form" th:attr="action=@{/template/upsert}" th:object="${template}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" th:field="*{currentTemplateName}"/>
			<div class="field-validation-error" th:errors="${template}"></div>
			<table>
				<tbody>
					<tr>
		                <td><label>Template Name*</label></td>
		                <td>
		                	<input type="text" th:field="*{templateName}">
		                	<div class="field-validation-error" th:errors="*{templateName}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td class="textarea-label"><label>Body Message*</label></td>
		                <td>
		                	<textarea th:field="*{bodyMessage}"></textarea>
		                	<div class="field-validation-error" th:errors="*{bodyMessage}"></div>
		                </td>
		            </tr>
					<tr>
						<td><label>Attachment Type</label></td>
						<td>
							<select th:field="*{attachmentType}" onchange="changeHidden(this)">
								<option th:value=null>-</option>
								<option th:each="option : ${attachmentTypes}" th:value="${option.value}"
										th:text="${option.text}" th:selected="${option.value == attachmentTypes}"/>
							</select>
							<div class="field-validation-error" th:errors="*{attachmentType}"></div>
						</td>
					</tr>
				<tr>
					<td><label id="afile" hidden="hidden">Attachment File</label></td>
					<td>
						<input type="hidden"  th:field="*{fileAttachment}" >
						<div class="field-validation-error">[[${error}]]</div>
					</td>
				</tr>
				</tbody>
			</table>
		    <button class="blue-button" type="submit" th:text="${type} + ' Template'"></button>
		</form>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>